In [1]:
import pandas as pd
import numpy as np

In [2]:
tracking1 = pd.read_csv('./data/nfl-big-data-bowl-2021/week1.csv')
# tracking2 = pd.read_csv('./data/nfl-big-data-bowl-2021/week2.csv')
# tracking3 = pd.read_csv('./data/nfl-big-data-bowl-2021/week3.csv')
# tracking4 = pd.read_csv('./data/nfl-big-data-bowl-2021/week4.csv')
# tracking5 = pd.read_csv('./data/nfl-big-data-bowl-2021/week5.csv')
# tracking6 = pd.read_csv('./data/nfl-big-data-bowl-2021/week6.csv')
# tracking7 = pd.read_csv('./data/nfl-big-data-bowl-2021/week7.csv')
# tracking8 = pd.read_csv('./data/nfl-big-data-bowl-2021/week8.csv')
# tracking9 = pd.read_csv('./data/nfl-big-data-bowl-2021/week9.csv')
# tracking10 = pd.read_csv('./data/nfl-big-data-bowl-2021/week10.csv')
# tracking11 = pd.read_csv('./data/nfl-big-data-bowl-2021/week11.csv')
# tracking12 = pd.read_csv('./data/nfl-big-data-bowl-2021/week12.csv')
# tracking13 = pd.read_csv('./data/nfl-big-data-bowl-2021/week13.csv')
# tracking14 = pd.read_csv('./data/nfl-big-data-bowl-2021/week14.csv')
# tracking15 = pd.read_csv('./data/nfl-big-data-bowl-2021/week15.csv')
# tracking16 = pd.read_csv('./data/nfl-big-data-bowl-2021/week16.csv')
# tracking17 = pd.read_csv('./data/nfl-big-data-bowl-2021/week17.csv')

df = pd.concat([tracking1,
                      # tracking2,
                      # tracking3,
                      # tracking4,
                      # tracking5,
                      # tracking6,
                      # tracking7,
                      # tracking8,
                      # tracking9,
                      # tracking10,
                      # tracking11,
                      # tracking12,
                      # tracking13,
                      # tracking14,
                      # tracking15,
                      # tracking16,
                      # tracking17
                     ], axis=0)

In [4]:
df['event'].unique()

array([nan, 'ball_snap', 'pass_forward', 'pass_arrived',
       'pass_outcome_caught', 'out_of_bounds', 'pass_outcome_incomplete',
       'first_contact', 'tackle', 'man_in_motion', 'play_action',
       'qb_sack', 'fumble', 'fumble_offense_recovered', 'handoff',
       'pass_tipped', 'pass_outcome_interception', 'qb_strip_sack',
       'pass_shovel', 'line_set', 'shift', 'touchdown',
       'fumble_defense_recovered', 'pass_outcome_touchdown', 'run',
       'touchback', 'penalty_flag', 'penalty_accepted', 'qb_spike',
       'field_goal_blocked'], dtype=object)

In [9]:
defense_positions = ['SS', 'FS', 'MLB', 'CB', 'LB', 'OLB', 'ILB', 'DL', 'DB', 'NT', 'S', 'DE']
pass_caught_time = ['pass_outcome_caught']

# Get Targeted Receiver

In [10]:
target_receiver = df[df['event'].isin(pass_caught_time)]
ball_positions = target_receiver[target_receiver['nflId'].isna()][['gameId', 'playId', 'x', 'y']].rename(columns={'x': 'ball_x', 'y': 'ball_y'})
target_receiver = target_receiver.merge(ball_positions, on=['gameId', 'playId'], how='left')
target_receiver['distance_to_ball'] = np.sqrt((target_receiver['x'] - target_receiver['ball_x'])**2 + (target_receiver['y'] - target_receiver['ball_y'])**2)
target_receiver = target_receiver[~target_receiver['position'].isin(defense_positions)]
target_receiver = target_receiver[target_receiver['nflId'].notna()]
target_receiver = target_receiver[target_receiver['distance_to_ball'].notna()]
target_receiver = target_receiver.loc[target_receiver.groupby(['gameId', 'playId'])['distance_to_ball'].idxmin()][['gameId', 'playId', 'nflId', 'distance_to_ball']]
target_receiver = target_receiver.rename(columns={'nflId':'target_receiver_nflId'})
target_receiver = target_receiver.drop('distance_to_ball', axis=1)

In [11]:
target_receiver

          gameId  playId  target_receiver_nflId
2     2018090600      75              2495454.0
16    2018090600     190              2495454.0
36    2018090600     320              2552600.0
50    2018090600     492              2552453.0
67    2018090600     521              2555415.0
...          ...     ...                    ...
8102  2018091001    3928                71265.0
8129  2018091001    3952              2556885.0
8134  2018091001    4123                71265.0
8150  2018091001    4147              2534241.0
8176  2018091001    4192              2556885.0

[557 rows x 3 columns]

In [12]:
pass_caught = df[df['event'].isin(pass_caught_time)]

In [13]:
pass_caught.merge()

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
714,2018-09-07T01:07:19.700Z,96.10,27.82,0.99,1.14,0.10,327.40,311.41,pass_outcome_caught,310.0,Matt Ryan,2.0,QB,52,away,2018090600,75,left,NaN
715,2018-09-07T01:07:19.700Z,81.74,49.08,7.94,2.37,0.80,0.01,347.39,pass_outcome_caught,79848.0,Malcolm Jenkins,27.0,SS,52,home,2018090600,75,left,NaN
716,2018-09-07T01:07:19.700Z,81.48,50.13,4.93,3.07,0.49,326.77,358.86,pass_outcome_caught,2495454.0,Julio Jones,11.0,WR,52,away,2018090600,75,left,HITCH
717,2018-09-07T01:07:19.700Z,81.41,19.08,4.65,2.84,0.46,355.18,325.16,pass_outcome_caught,2495613.0,Corey Graham,24.0,FS,52,home,2018090600,75,left,NaN
718,2018-09-07T01:07:19.700Z,76.75,36.60,2.82,1.85,0.28,33.31,332.72,pass_outcome_caught,2533040.0,Mohamed Sanu,12.0,WR,52,away,2018090600,75,left,HITCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985672,2018-09-11T05:29:37.599Z,35.04,33.26,6.40,0.89,0.65,30.23,6.62,pass_outcome_caught,2556277.0,Marqui Christian,41.0,SS,42,away,2018091001,4192,left,NaN
985673,2018-09-11T05:29:37.599Z,37.14,42.82,2.60,2.31,0.27,74.36,40.14,pass_outcome_caught,2556593.0,Cory Littleton,58.0,ILB,42,away,2018091001,4192,left,NaN
985674,2018-09-11T05:29:37.599Z,40.93,44.07,3.78,2.97,0.36,228.37,226.69,pass_outcome_caught,2556885.0,Jalen Richard,30.0,RB,42,home,2018091001,4192,left,SCREEN
985675,2018-09-11T05:29:37.599Z,32.91,40.02,4.54,1.35,0.46,68.97,44.36,pass_outcome_caught,2558183.0,John Johnson,43.0,SS,42,away,2018091001,4192,left,NaN
985676,2018-09-11T05:29:37.599Z,40.75,44.00,3.28,1.79,0.33,NaN,NaN,pass_outcome_caught,NaN,Football,NaN,NaN,42,football,2018091001,4192,left,NaN